<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kisslab.mocklocation.checkbypasser"
    android:installLocation="internalOnly"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="15" />

    <application android:label="Mock Location Check Bypasser" >
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="This module intercepts system APIs and always return 0 for mock_location configuration." />
        <meta-data
            android:name="xposedminversion"
            android:value="30" />
    </application>

</manifest>